html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    position: relative;
    overflow-x: hidden;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    color: #FFF;
    font-size: 20px;
    line-height: 1.25;
    background-color: #000;
}

button {
    background-color: transparent;
    padding: 0;
    border: none;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.1s linear;
    &:hover {
        color: #921813;
    }
}

@font-face {
	font-family: 'DrukWideCyr-Medium';
	src: url('../fonts/drukwidecyr-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/drukwidecyr-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/drukwidecyr-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/drukwidecyr-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/drukwidecyr-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/drukwidecyr-medium.svg#drukwidecyr-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}

.container {
    max-width: 1534px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    position: relative;
    /* background-image: url(../images/header-bg.jpg);
    background-image: image-set(
        '../images/header-bg.avif' type('image/avif'),
        '../images/header-bg.webp' type('image/webp'),
        '../images/header-bg.jpg' type('image/jpeg')
    );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    overflow: hidden;
    height: 100vh;
    & .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        position: relative;
        z-index: 2;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.5);
        z-index: 1;
    }
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 22px 0;
}

.showreel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.overlay {
    display: none;
}

.menu__list {
    font-size: 18px;
    line-height: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 96px;
}

.cost {
    font-size: 18px;
    line-height: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.cost__btn {
    padding: 20px 40px;
    background-color: #921813;
    border-radius: 20px;
    transition: 0.2s linear;
    &:hover {
        background-color: #FFF;
        box-shadow: 0 4px 61px 0 rgba(255, 255, 255, 0.35);
        color: #921813;
    }
}

.cost__phone {
    display: flex;
    padding: 15px;
    background-color: #232323;
    border-radius: 20px;
    transition: background-color 0.2s linear;
    &:hover {
        background-color: #921813;
    }
}

.menu__btn {
    display: none;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 26px;
    position: relative;
}

.menu__btn::before,
.menu__btn::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    background-color: #FFF;
}

.menu__btn::after {
    top: 0;
}

.menu__btn::before {
    bottom: 0;
}

.menu__btn span {
    height: 4px;
    background-color: #FFF;
    width: 100%;
    
}

.menu__mobile {
    display: none;
}

.header__title {
    font-family: 'DrukWideCyr-Medium';
    font-size: 116px;
    font-weight: 400;
    line-height: 0.85;
    margin-bottom: 50px;
    & video {
        display: none;
    }
}

@media (max-width: 1920px) {
    .header__title {
        font-size: clamp(
            94px,
            calc(94px + (116px - 94px) * (100vw - 1000px) / (1920px - 1000px)),
            116px
        );
    }
}

.header__text {
    font-size: 33px;
    line-height: 1.35;
    font-weight: 600;
    margin-bottom: 90px;
    & span {
        font-weight: 300;
    }
}

.header__partner {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    margin-bottom: 75px;
}

@media (max-width: 1300px) {
    .header__partner {
        & img {
            height: clamp(
                40px,
                calc(40px + (50px - 40px) * (100vw - 1000px) / (1300px - 1000px)),
                50px
            );
        }
    }
}

.content {
    padding-top: 80px;
    margin-bottom: 94px;
}

.content__element:not(:last-child) {
    margin-bottom: 50px;
}

.content__header {
    font-family: 'DrukWideCyr-Medium';
    font-weight: 500;
    font-size: 75px;
    line-height: 1;
    margin-bottom: 56px;
}

.content__about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}

.content__tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 21px;
}

.tag {
    white-space: nowrap;
    padding: 20px 40px;
    border: 1px solid #fff;
    border-radius: 54px;
    font-weight: 500;
    font-size: 26px;
    line-height: 1;
}

.quote {
    font-weight: 500;
    font-size: 26px;
    line-height: 100%;
    color: #5a5a5a;
}

.content__arrows {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 27px;
}

.arrows__desktop {
    display: flex;
}

.arrows__phone {
    display: none;
}

.arrow {
    display: flex;
    cursor: pointer;
    padding: 15px 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(16.700000762939453px);
    transition: background-color, border 0.2s linear;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    &:hover {
        border: 1px solid rgba(255, 255, 255, 0.7);
        background-color: rgba(255, 255, 255, 0.18);
    }
}

.videos {
    overflow: visible;
    height: 598px;
}

.videos__item {
    max-width: 887px;
    width: 100%;
    overflow: hidden;
    position: relative;
    height: auto;
    border-radius: 20px;
    & img {
        max-width: 100%;
        border-radius: 20px;
    }
    & iframe {
        max-width: 100%;
        border-radius: 20px;
        height: 100%;
    }
    /* &::after {
        display: none; 
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 4px;
        border-radius: 20px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
        z-index: 1;
    } */
}

.videos__item-text {
    position: absolute;
    max-width: 500px;
    left: 44px;
    bottom: 27px;
    font-family: 'DrukWideCyr-Medium';
    font-weight: 500;
    font-size: 45px;
    line-height: 100%;
    color: #fff;
    z-index: 2;
}

@media (max-width: 1920px) {
    .videos__item-text {
        font-size: clamp(
            38px,
            calc(38px + (45px - 38px) * (100vw - 1000px) / (1920px - 1000px)),
            45px
        );
    }
}

.videos-v {
    height: 851px;
    overflow: visible;
    & .videos__item {
        max-width: 480px;
        &::after {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
        }
    }
    & .videos__item-text {
        max-width: 85%;
        left: 30px;
        bottom: 29px;
    }
}

@media (max-width: 1920px) {
    .videos {
        height: clamp(
            400px,
            calc(400px + (598px - 400px) * (100vw - 1000px) / (1920px - 1000px)),
            598px
        );
        .videos__item {
            max-width: clamp(
                592px,
                calc(592px + (887px - 592px) * (100vw - 1000px) / (1920px - 1000px)),
                887px
            );
            & img {
                max-height: clamp(
                    400px,
                    calc(400px + (598px - 400px) * (100vw - 1000px) / (1920px - 1000px)),
                    598px
                );
            }
            & iframe {
                width: 100%;
                max-height: clamp(
                    400px,
                    calc(400px + (598px - 400px) * (100vw - 1000px) / (1920px - 1000px)),
                    598px
                );
            }
        }
    }
    .videos-v {
        height: clamp(
            600px,
            calc(600px + (851px - 600px) * (100vw - 1000px) / (1920px - 1000px)),
            851px
        );
        .videos__item {
            max-width: clamp(
                338px,
                calc(338px + (480px - 338px) * (100vw - 1000px) / (1920px - 1000px)),
                480px
            );
            & img {
                max-height: clamp(
                    600px,
                    calc(600px + (851px - 600px) * (100vw - 1000px) / (1920px - 1000px)),
                    851px
                );
            }
            & iframe {
                width: 100%;
                max-height: clamp(
                    600px,
                    calc(600px + (851px - 600px) * (100vw - 1000px) / (1920px - 1000px)),
                    851px
                );
            }
        }
    }
}

.advantages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 84px 125px;
    width: 100%;
    border-radius: 47px;
    box-shadow: 0 4px 61px 0 rgba(255, 255, 255, 0.35);
    background: #fff;
    margin-bottom: 85px;
}

.advantages__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.advantages__number {
    font-family: 'DrukWideCyr-Medium';
    font-weight: 500;
    font-size: 77px;
    line-height: 100%;
    text-align: center;
    color: #0a0a0a;
}

@media (max-width: 1920px) {
    .advantages__number {
        font-size: clamp(
            50px,
            calc(50px + (77px - 50px) * (100vw - 1000px) / (1920px - 1000px)),
            77px
        );
    }
}

.advantages__text {
    font-weight: 500;
    font-size: 25px;
    line-height: 100%;
    text-align: center;
    color: #797979;
}

.about-us {
    position: relative;
    max-width: 100%;
    margin-bottom: 146px;
}

.about-us__big {
    white-space: nowrap;
    text-align: center;
    font-family: 'DrukWideCyr-Medium';
    font-weight: 500;
    font-size: 323px;
    line-height: 100%;
    text-transform: uppercase;
    color: #232323;
    cursor: default;
}

@media (max-width: 1920px) {
    .about-us__big {
        font-size: clamp(
            214px,
            calc(214px + (323px - 214px) * (100vw - 1000px) / (1920px - 1000px)),
            323px
        );
    }
}

.about-us__worker {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
}

.worker__bio {
    position: relative;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 29px;
    top: -34px;
    right: -58px;
    z-index: 1;
}

.worker__fio {
    text-align: center;
    font-family: 'DrukWideCyr-Medium';
    font-weight: 500;
    font-size: 34px;
    line-height: 100%;
    color: #fff;
}

.worker__words {
    position: relative;
    padding: 32px 38px 41px 46px;
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
    color: #fff;
    border: 2px solid #646464;
    border-radius: 33px;
    max-width: 490px;
    backdrop-filter: blur(32.099998474121094px);
    background: rgba(21, 21, 21, 0.04);
}

.worker__photo {
    position: relative;
    overflow: hidden;
    border-radius: 40px;
    top: -83px;
    left: -34px;
    & img {
        max-width: 544px;
        width: 100%;
        border-radius: 40px;
    }
}

.worker__status {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 300px;
    font-family: 'DrukWideCyr-Medium';
    font-weight: 500;
    font-size: 49px;
    line-height: 100%;
    text-align: center;
    color: #fff;
    cursor: default;
}

.worker__text {
    position: relative;
    top: 18px;
    max-width: 448px;
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
    color: #b5b5b5;
}

@media (max-width: 1920px) {
    .worker__status {
        bottom: clamp(
            220px,
            calc(220px + (300px - 220px) * (100vw - 1000px) / (1920px - 1000px)),
            300px
        );
    }
    .worker__text {
        max-width: clamp(
            288px,
            calc(288px + (448px - 288px) * (100vw - 1000px) / (1920px - 1000px)),
            448px
        );
    }
}

.steps {
    margin-bottom: 170px;
}

.steps__title {
    font-family: 'DrukWideCyr-Medium';
    font-weight: 500;
    font-size: 104px;
    line-height: 100%;
    color: #fff;
    margin-bottom: 90px;
    & span {
        color: #921813;
    }
}

@media (max-width: 1920px) {
    .steps {
        margin-bottom: clamp(
            100px,
            calc(100px + (170px - 100px) * (100vw - 1000px) / (1920px - 1000px)),
            170px
        );
    }
    .steps__title {
        font-size: clamp(
            88px,
            calc(88px + (104px - 88px) * (100vw - 1000px) / (1920px - 1000px)),
            104px
        );
    }
}

.steps__group {
    display: flex;
    flex-direction: row;
    gap: 150px;
    & .step {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        & img {
            height: 190px;
        }
        & .step__text {
            max-width: 390px;
            font-weight: 500;
            font-size: 33px;
            line-height: 100%;
            color: #757575;
        }
    }
}

@media (max-width: 1920px) {
    .steps__group {
        gap: clamp(
            90px,
            calc(90px + (150px - 90px) * (100vw - 1000px) / (1920px - 1000px)),
            150px
        );
        & .step {
            & img {
                height: clamp(
                    148px,
                    calc(148px + (195px - 148px) * (100vw - 1000px) / (1920px - 1000px)),
                    195px
                );
            }
            & .step__text {
                font-size: clamp(
                    22px,
                    calc(22px + (33px - 22px) * (100vw - 1000px) / (1920px - 1000px)),
                    33px
                );
            }
        }
    }
}

.projects {
    margin-bottom: 130px;
}

.projects__title {
    font-family: 'DrukWideCyr-Medium';
    font-weight: 500;
    font-size: 95px;
    line-height: 100%;
    color: #fff;
    margin-bottom: 96px;
    & span {
        color: #921813;
    }
}

@media (max-width: 1920px) {
    .projects__title {
        font-size: clamp(
            74px,
            calc(74px + (95px - 74px) * (100vw - 1000px) / (1920px - 1000px)),
            95px
        );
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 580px;
    column-gap: 36px;
    row-gap: 33px;
}

.grid__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    border: 2px solid #fff;
    border-radius: 36px;
    padding: 66px 54px 54px 54px;
}

.grid__item-top {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.grid__item-header {
    font-family: 'DrukWideCyr-Medium';
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    color: #fff;
}

.grid__item-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
    color: #fff;
}

.grid__item-btn {
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
    color: #fff;
    padding: 25px 60px;
    background: #921813;
    border-radius: 54px;
    transition: 0.2s linear;
    width: fit-content;
    &:hover {
        background-color: #FFF;
        box-shadow: 0 4px 61px 0 rgba(255, 255, 255, 0.35);
        color: #921813;
    }
}

@media (max-width: 1920px) {
    .grid__item-header {
        font-size: clamp(
            32px,
            calc(32px + (40px - 32px) * (100vw - 1000px) / (1920px - 1000px)),
            40px
        );
    }
    .grid__item-text {
        font-size: clamp(
            18px,
            calc(18px + (20px - 18px) * (100vw - 1000px) / (1920px - 1000px)),
            20px
        );
    }
    .grid__item-btn {
        font-size: clamp(
            20px,
            calc(20px + (28px - 20px) * (100vw - 1000px) / (1920px - 1000px)),
            28px
        );
    }
}

.animation-block {
    position: relative;
    margin-bottom: 140px;
}

.horizontal-strip__red {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 100vw;
    height: 120px;
    background-color: #921813;
}

@keyframes ticker {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.horizontal-strip {
    width: 100vw;
    height: 120px;
    overflow-x: hidden;
    transform: rotate(-3deg);
}

.horizontal-strip__anim {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    width: fit-content;
    animation: ticker 15s linear infinite;
    -webkit-transform-style: preserve-3d;
    height: 120px;
    background-color: #FFF;
}

.anim {
    font-family: 'DrukWideCyr-Medium';
    font-weight: 500;
    font-size: 69px;
    line-height: 100%;
    color: #000;
    white-space: nowrap;
    -webkit-backface-visibility: hidden;
    cursor: default;
}

.red-dot {
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    background: #921813;
}

.clouds {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 300px;
    margin-bottom: 175px;
}

.clouds__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #fff 1px solid;
    border-radius: 100%;
    transition: 0.2s linear;
    &:hover {
        box-shadow: 
        0 4px 61px 0 rgba(255, 255, 255, 0.35),
        inset 0 4px 61px 0 rgba(255, 255, 255, 0.35);
        & .clouds__plus {
            box-shadow: 0 4px 61px 0 rgba(255, 255, 255, 0.35);
        }
    }
}

.cloud-1 {
    width: 680px;
    height: 240px;
    transform: rotate(-10deg);
    justify-self: flex-end;
    & .clouds__text {
        transform: rotate(5deg);
        max-width: 490px;
        right: -15px;
    }
}

.cloud-2 {
    width: 469px;
    height: 151px;
    transform: rotate(22deg);
    justify-self: center;
    align-self: center;
    & .clouds__text {
        transform: rotate(-10deg);
        max-width: 410px;
        top: -10px;
        right: -88px;
    }
}

.cloud-3 {
    width: 567px;
    height: 239px;
    transform: rotate(2deg);
    justify-self: flex-end;
    align-self: flex-end;
    & .clouds__text {
        transform: rotate(4deg);
        max-width: 388px;
        right: -60px;
    }
}

.cloud-4 {
    width: 540px;
    height: 152px;
    transform: rotate(2deg);
    & .clouds__text {
        transform: rotate(-8deg);
        max-width: 424px;
        right: -65px;
        top: -5px;
    }
}

.clouds__plus {
    display: flex;
    left: 10%;
    top: -15%;
    position: absolute;
    width: fit-content;
    padding: 27px 26px;
    border-radius: 100%;
    background-color: #921813;
    box-shadow: 0 0 40px 0 rgba(192, 32, 26, 0.69);
    transition: 0.2s linear;
}

.clouds__text {
    font-family: 'DrukWideCyr-Medium';
    font-weight: 500;
    font-size: 46px;
    line-height: 100%;
    color: #fff;
    position: relative;
    cursor: default;
}

@media (max-width: 1920px) {
    .clouds {
        grid-auto-rows: clamp(
            250px,
            calc(250px + (300px - 250px) * (100vw - 1000px) / (1920px - 1000px)),
            300px
        );
    }
    .cloud-1 {
        width: clamp(
            540px,
            calc(540px + (680px - 540px) * (100vw - 1000px) / (1920px - 1000px)),
            680px
        );
        height: clamp(
            210px,
            calc(210px + (240px - 210px) * (100vw - 1000px) / (1920px - 1000px)),
            240px
        );
    }
    .cloud-2 {
        width: clamp(
            329px,
            calc(329px + (469px - 329px) * (100vw - 1000px) / (1920px - 1000px)),
            469px
        );
        height: clamp(
            130px,
            calc(130px + (151px - 130px) * (100vw - 1000px) / (1920px - 1000px)),
            151px
        );
    }
    .cloud-3 {
        width: clamp(
            427px,
            calc(427px + (567px - 427px) * (100vw - 1000px) / (1920px - 1000px)),
            567px
        );
        height: clamp(
            200px,
            calc(200px + (239px - 200px) * (100vw - 1000px) / (1920px - 1000px)),
            239px
        );
    }
    .cloud-4 {
        width: clamp(
            400px,
            calc(400px + (540px - 400px) * (100vw - 1000px) / (1920px - 1000px)),
            540px
        );
        height: clamp(
            140px,
            calc(140px + (152px - 140px) * (100vw - 1000px) / (1920px - 1000px)),
            152px
        );
    }
    .clouds__text {
        font-size: clamp(
            34px,
            calc(34px + (46px - 34px) * (100vw - 1000px) / (1920px - 1000px)),
            46px
        );
    }
}

@media (max-width: 1200px) {
    .cloud-1 {
        & .clouds__text {
            right: -40px;
        }
    }
    .cloud-2 {
        & .clouds__text {
            right: -60px;
        }
    }
    .clouds__plus {
        top: -10%;
        padding: 20px 19px;
        & img {
            width: 22px;
            height: 20px;
        }
    }
}

.map {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 839px;
    column-gap: 65px;
    margin-bottom: 100px;
}

.map__place {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.map__text {
    font-family: 'DrukWideCyr-Medium';
    font-weight: 500;
    font-size: 59px;
    line-height: 100%;
    color: #fff;
}

.map__address {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 17px;
    border-radius: 40px;
    background: #131313;
    padding: 32px 74px 40px 92px;
}

.address__city {
    position: relative;
    font-family: 'DrukWideCyr-Medium';
    font-weight: 500;
    font-size: 57px;
    line-height: 100%;
    color: #424242;
    & img {
        position: absolute;
        left: -25px;
        top: 45%;
        justify-self: center;
        transform: translate(-50%);
    }
}

.address__place {
    font-family: 'DrukWideCyr-Medium';
    font-weight: 500;
    font-size: 21px;
    line-height: 136%;
    color: #fff;
}

.map__yandex {
    border-radius: 60px;
    width: 100%;
    & iframe {
        width: 100%;
        height: 487px;
    }
}

@media (max-width: 1920px) {
    .map {
        column-gap: clamp(
            40px,
            calc(40px + (65px - 40px) * (100vw - 1000px) / (1920px - 1000px)),
            65px
        );
        grid-template-columns: 1fr clamp(
            545px,
            calc(545px + (839px - 545px) * (100vw - 1000px) / (1920px - 1000px)),
            839px
        );
    }
    .map__text {
        font-size: clamp(
            38px,
            calc(38px + (59px - 38px) * (100vw - 1000px) / (1920px - 1000px)),
            59px
        );
    }
    .address__city {
        font-size: clamp(
            36px,
            calc(36px + (57px - 36px) * (100vw - 1000px) / (1920px - 1000px)),
            57px
        );
    }
    .address__place {
        font-size: clamp(
            17px,
            calc(17px + (21px - 17px) * (100vw - 1000px) / (1920px - 1000px)),
            21px
        );
    }
}

.socials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 130px;
    row-gap: 70px;
    margin-bottom: 150px;
}

.socials__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 33px;
    & img {
        width: 94px;
        height: 94px;
    }
}

.socials__info {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.socials__text {
    font-family: 'DrukWideCyr-Medium';
    font-weight: 500;
    font-size: 35px;
    line-height: 100%;
    color: #fff;
}

.socials__href {
    font-weight: 500;
    font-size: 34px;
    line-height: 136%;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    text-decoration-skip-ink: none;
    color: #919191;
    &:hover {
        color: #fff;
    }
}

@media (max-width: 1200px) {
    .socials {
        column-gap: 80px;
        row-gap: 50px;
        margin-bottom: 120px;
    }
    .socials__item {
        gap: 28px;
        & img {
            width: 77px;
            height: 77px;
        }
    }
    .socials__info {
        gap: 8px;
    }
    .socials__text {
        font-size: 27px;
    }
    .socials__href {
        font-size: 23px;
    }
}

.request {
    border: 2px solid #fff;
    border-radius: 40px;
    padding: 78px 128px 101px 132px;
    margin-bottom: 125px;
}

.request__title {
    font-family: 'DrukWideCyr-Medium';
    font-weight: 500;
    font-size: 89px;
    line-height: 100%;
    color: #fff;
    margin-bottom: 78px;
}

.request__text {
    width: 50%;
    font-weight: 500;
    font-size: 29px;
    line-height: 136%;
    color: #919191;
    margin-bottom: 99px;
}

input[disabled]:hover,
button[disabled]:hover {
  pointer-events: none;
}

.request__form {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    & label {
        display: flex;
        flex-direction: column;
        gap: 23px;
        font-weight: 500;
        font-size: 25px;
        line-height: 136%;
        color: #919191;
        &:first-child {
            margin-right: 23px;
        }
        &:last-of-type {
            margin-right: 18px;
        }
        & input {
            max-width: 433px;
            border: 2px solid #a8a8a8;
            border-radius: 20px;
            background-color: transparent;
            padding: 25px 34px;
            font-family: 'Manrope';
            font-weight: 400;
            font-size: 25px;
            line-height: 136%;
            color: #666;
            transition: 0.2s linear;
            &:focus {
                color: #fff;
            }
            &.error {
                border: 2px solid #921813;
            }
        }
    }
    & button {
        height: fit-content;
        align-self: flex-end;
        border: none;
        border-radius: 20px;
        background: #921813;
        padding: 32px 100px;
        font-family: 'Manrope';
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
        color: #fff;
        transition: 0.2s linear;
        &:not(:disabled) {
            cursor: pointer;
        }
        &:not(:disabled):hover {
            background-color: #FFF;
            box-shadow: 0 4px 61px 0 rgba(255, 255, 255, 0.35);
            color: #921813;
        }
        &:disabled {
            background-color: #a8a8a8;
        }
    }
}

.request__politics {
    font-weight: 500;
    font-size: 20px;
    line-height: 136%;
    color: #919191;
    & a {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 2px;
        text-decoration-skip-ink: none;
        color: #921813;
        &:hover {
            color: #fff;
        }
    }
}

@media (max-width: 1920px) {
    .request__title {
        font-size: clamp(
            50px,
            calc(50px + (89px - 50px) * (100vw - 1000px) / (1920px - 1000px)),
            89px
        );
    }
    .request__text {
        font-size: clamp(
            22px,
            calc(22px + (29px - 22px) * (100vw - 1000px) / (1920px - 1000px)),
            29px
        );
    }
    .request__form {
        & label {
            gap: clamp(
                18px,
                calc(18px + (23px - 18px) * (100vw - 1000px) / (1920px - 1000px)),
                23px
            );
            font-size: clamp(
                21px,
                calc(21px + (25px - 21px) * (100vw - 1000px) / (1920px - 1000px)),
                25px
            );
            & input {
                padding: clamp(
                    21px,
                    calc(21px + (25px - 21px) * (100vw - 1000px) / (1920px - 1000px)),
                    25px
                ) clamp(
                    30px,
                    calc(30px + (34px - 30px) * (100vw - 1000px) / (1920px - 1000px)),
                    34px
                );
                font-size: clamp(
                    16px,
                    calc(16px + (25px - 16px) * (100vw - 1000px) / (1920px - 1000px)),
                    25px
                );
            }
        }
        & button {
            padding: clamp(
                25px,
                calc(25px + (32px - 25px) * (100vw - 1000px) / (1920px - 1000px)),
                32px
            ) clamp(
                54px,
                calc(54px + (100px - 54px) * (100vw - 1000px) / (1920px - 1000px)),
                100px
            );
            font-size: clamp(
                18px,
                calc(18px + (24px - 18px) * (100vw - 1000px) / (1920px - 1000px)),
                24px
            );
        }
    }
    .request__politics {
        font-size: clamp(
            14px,
            calc(14px + (20px - 14px) * (100vw - 1000px) / (1920px - 1000px)),
            20px
        );
    }
}

.footer {
    background-color: #0E0E0E;
}

.footer__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 32px;
    padding-top: 72px;
    margin-bottom: 100px;
}

.footer__logo {
    max-width: 284px;
    margin-right: 153px;
}

.footer__menu {
    margin-right: 119px;
    & ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 87px;
        row-gap: 30px;
    }
}

.footer__menu-item a {
    white-space: nowrap;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #fff;
    transition: 0.2s linear;
    &:hover {
        color: #921813;
    }
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin-right: 70px;
}

.footer__contacts-mail {
    font-weight: 500;
    font-size: 17px;
    line-height: 136%;
    color: #919191;
    transition: 0.2s linear;
    &:hover {
        color: #fff;
    }
}

.footer__contacts-policy {
    font-weight: 500;
    font-size: 17px;
    line-height: 136%;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    text-decoration-skip-ink: none;
    color: #921813;
    transition: 0.2s linear;
    &:hover {
        color: #fff;
    }
}

.footer__socials {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.footer__socials-phone {
    font-family: 'DrukWideCyr-Medium';
    font-weight: 500;
    font-size: 25px;
    line-height: 100%;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 1px;
    text-decoration-skip-ink: none;
    color: #fff;
    transition: 0.2s linear;
    &:hover {
        color: #921813;
    }
}

.footer__socials-icons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: fit-content;
}

.footer__copyrights {
    max-width: 25%;
    font-weight: 500;
    font-size: 17px;
    line-height: 136%;
    color: #919191;
    padding-bottom: 79px;
}

.background-ellipses {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
    z-index: -1;
}

.ellipse {
    position: absolute;
    border-radius: 50%;
    filter: blur(40px);
}

.mobile-ellipse {
    display: none;
}

.ellipse:nth-child(1) {
    width: 1920px;
    height: 1054px;
    top: 1260px;
    background: radial-gradient(
        circle at center,
        rgba(146, 24, 19, 0.3),
        rgba(146, 24, 19, 0) 70%
    );
}

.ellipse:nth-child(2) {
    width: 1053px;
    height: 1053px;
    top: 3700px;
    left: 1200px;
    background: radial-gradient(
        circle at center,
        rgba(146, 24, 19, 0.3),
        rgba(146, 24, 19, 0) 70%
    );
}

.ellipse:nth-child(3) {
    width: 1449px;
    height: 1449px;
    top: 4100px;
    left: -45%;
    background: radial-gradient(
        circle at center,
        rgba(146, 24, 19, 0.3),
        rgba(146, 24, 19, 0) 70%
    );
}

.ellipse:nth-child(4) {
    width: 1449px;
    height: 1910px;
    top: 4900px;
    left: 50%;
    background: radial-gradient(
        circle at center,
        rgba(146, 24, 19, 0.3),
        rgba(146, 24, 19, 0) 70%
    );
}

.ellipse:nth-child(5) {
    width: 1449px;
    height: 1910px;
    top: 7100px;
    background: radial-gradient(
        circle at center,
        rgba(146, 24, 19, 0.3),
        rgba(146, 24, 19, 0) 70%
    );
}

.ellipse:nth-child(6) {
    width: 1900px;
    height: 1900px;
    top: 8000px;
    background: radial-gradient(
        circle at center,
        rgba(146, 24, 19, 0.3),
        rgba(146, 24, 19, 0) 70%
    );
}

@media (max-width: 1920px) {
    .menu__list {
        gap: clamp(
            70px,
            calc(70px + (96px - 70px) * (100vw - 1200px) / (1920px - 1200px)),
            96px
        );
    }
    .header__text {
        margin-bottom: clamp(
            60px,
            calc(60px + (90px - 60px) * (100vw - 1200px) / (1920px - 1200px)),
            90px
        );
    }
}

@media (max-width: 1200px) {
    .menu__list {
        gap: 35px;
    }
    .header__text {
        margin-bottom: 30px;
    }
}

@media (max-width: 980px) {
    .showreel {
        display: none;
    }
    .disable-scroll {
        overflow: hidden;
    }
    .header {
        background-image: none;
        height: fit-content;
        &.container {
            justify-content: normal;
        }
        &::before {
            display: none;
        }
    }
    .header__top {
        padding: 13px 0 21px 0;
    }
    .menu__list {
        display: none;
    }
    .menu__btn {
        display: flex;
    }
    .menu__mobile {
        display: flex;
        flex-direction: column;
        position: fixed;
        overflow-y: scroll;
        z-index: 3;
        top: 0;
        left: 0;
        width: 78%;
        height: 100vh;
        background: #0E0E0E;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        padding: 18px 15px 0 10px;
        & .menu__list {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 36px;
            margin-bottom: 56px;
            & li {
                list-style-type: none;
                & a {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 135%;
                }
            }
        }
        & .cost {
            display: flex;
            gap: 5px;
            margin-bottom: 27px;
            & .cost__btn {
                font-size: clamp(
                    14px,
                    calc(14px + (16px - 14px) * (100vw - 360px) / (980px - 360px)),
                    16px
                );
                padding: 15px 20px;
                border-radius: 15px;
            }
            & .cost__phone {
                padding: 9px;
                border-radius: 15px;
                & img {
                    width: 26px;
                    height: 26px;
                }
            }
        }
    }
    .overlay {
        position: fixed; 
        inset: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.67);
        opacity: 0; 
        display: none;
        transition: opacity 0.3s ease-in-out;
        z-index: 2;
    }
    .menu__mobile.active {
        transform: translateX(0);
    }
    .overlay.active {
        opacity: 1;
        display: block;
    }
    .menu__mobile-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        height: fit-content;
        margin-bottom: 47px;
        & .logo img {
            height: 47px;
        }
        & .menu__close-btn {
            padding-top: 9px;
            & img {
                height: 17px;
                width: 17px;
            }
        }
    }
    .menu__socials {
        display: flex;
        flex-direction: row;
        gap: 6px;
        & a img {
            width: 30px;
            height: 30px;
        }
    }
    .cost {
        display: none;
    }
    .header__title {
        font-size: clamp(
            48px,
            calc(48px + (98px - 48px) * (100vw - 360px) / (980px - 360px)),
            98px
        );
        margin-bottom: 0;
        display: flex;
        position:relative;
        overflow: hidden;
        width: 100%;
        height: 550px;
        align-items: flex-end;
        padding: 0 17px 30px 17px;
        border-radius: 20px;
        margin-bottom: 15px;
        & video {
            display: flex;
            position: absolute;
            top: 0;             
            left: 0;            
            width: 100%;        
            height: 100%;       
            object-fit: cover;
            z-index: -1;
        }
        &::after {
            content: '';
            background: rgba(0, 0, 0, 0.61);
            position: absolute;
            top: 0;             
            left: 0;            
            width: 100%;        
            height: 100%;       
            object-fit: cover;
            z-index: -1;
        }
    }
    .header__text {
        font-size: clamp(
            18px,
            calc(18px + (33px - 18px) * (100vw - 360px) / (980px - 360px)),
            33px
        );
        padding: 0 17px 0 17px;
        margin-bottom: 20px;
    }
    .header__partner {
        padding: 0 17px 0 17px;
        gap: 33px;
        row-gap: 10px;
        margin-bottom: 80px;
        & img {
            max-height: clamp(
                30px,
                calc(30px + (50px - 30px) * (100vw - 360px) / (980px - 360px)),
                50px
            );
        }
    }
    .content {
        padding-top: 0;
        margin-bottom: 57px;
    }
    .content__header {
        font-size: clamp(
            26px,
            calc(26px + (60px - 26px) * (100vw - 360px) / (980px - 360px)),
            60px
        );
        margin-bottom: clamp(
            20px,
            calc(20px + (50px - 20px) * (100vw - 360px) / (980px - 360px)),
            50px
        );
    }
    .content__about {
        margin-bottom: 27px;
    }
    .content__tags {
        gap: 11px;
    }
    .tag {
        padding: 15px 30px;
        font-size: clamp(
            14px,
            calc(14px + (18px - 14px) * (100vw - 360px) / (980px - 360px)),
            18px
        );
    }
    .arrows__desktop {
        display: none;
    }
    .arrows__phone {
        display: flex;
        justify-content: flex-start;
        gap: 19px;
        margin-bottom: 48px;
    }
    .videos {
        margin-bottom: 27px;
        height: clamp(
            181px,
            calc(181px + (400px - 181px) * (100vw - 360px) / (980px - 360px)),
            400px
        );
        & .videos__item {
            max-width: clamp(
                268px,
                calc(268px + (592px - 268px) * (100vw - 360px) / (980px - 360px)),
                592px
            );
        }
        & .videos__item-text {
            font-size: clamp(
                14px,
                calc(14px + (18px - 14px) * (100vw - 360px) / (980px - 360px)),
                18px
            );
            left: 12px;
            bottom: 18px;
        }
    }
    .videos-v {
        margin-bottom: 27px;
        height: clamp(
            323px,
            calc(323px + (600px - 323px) * (100vw - 360px) / (980px - 360px)),
            600px
        );
        & .videos__item {
            max-width: clamp(
                182px,
                calc(182px + (338px - 182px) * (100vw - 360px) / (980px - 360px)),
                338px
            );
        }
        & .videos__item-text {
            font-size: clamp(
                14px,
                calc(14px + (18px - 14px) * (100vw - 360px) / (980px - 360px)),
                18px
            );
            left: 17px;
            bottom: 17px;
        }
    }
    .videos__item {
        border-radius: 15px;
    }
    .arrow {
        padding: 10px 14px;
        & img {
            width: 10px;
            height: 18px;
        }
    }
    .advantages {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 60px 40px;
        border-radius: 20px;
        box-shadow: 0 4px 61px 0 rgba(255, 255, 255, 0.35);
        background: #fff;
        gap: 20px;
        margin-bottom: 35px;
    }
    .advantages__number {
        font-size: 54px;
    }
    .advantages__text {
        font-size: 16px;
    }
    .about-us {
        margin-bottom: 23px;
    }
    .about-us__big {
        font-size: 74px;
        margin-bottom: 13px;
    }
    .about-us__worker {
        flex-direction: column-reverse;
    }
    .worker__text {
        top: 0;
        font-size: 16px;
        margin-bottom: 14px;
        align-self: center;
    }
    .worker__photo {
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        & img {
            max-width: 235px;
            border-radius: 20px;
        }
        & .worker__status {
            top: 50%;
            font-size: 22px;
        }
    }
    .worker__bio {
        right: auto;
        gap: 14px;
        top: -45px;
        align-self: center;
        & .worker__fio {
            font-size: 18px;
        }
        & .worker__words {
            font-size: 16px;
            padding: 35px 17px 35px 38px;
        }
    }
    .steps {
        margin-bottom: 59px;
    }
    .steps__title {
        font-size: 26px;
        margin-bottom: 31px;
    }
    .steps__group {
        flex-direction: column;
        gap: 10px;
        .step {
            flex-direction: row;
            gap: 18px;
            align-items: center;
            & img {
                max-width: 147px;
            }
            & .step__text {
                max-width: none;
                font-size: clamp(
                    14px,
                    calc(14px + (18px - 14px) * (100vw - 360px) / (980px - 360px)),
                    18px
                );
            }
        }
    }
    .projects {
        margin-bottom: 40px;
    }
    .projects__title {
        font-size: 26px;
        margin-bottom: 37px;
    }
    .grid {
        row-gap: 20px;
        column-gap: 20px;
        grid-auto-rows: auto;
    }
    .grid__item {
        padding: 41px 20px 33px 20px;
        border-radius: 20px;
        gap: 40px;
    }
    .grid__item-top {
        gap: 24px;
    }
    .grid__item-header {
        font-size: 20px;
    }
    .grid__item-text {
        font-size: 14px;
    }
    .grid__item-btn {
        font-size: 16px;
        padding: 14px 33px;
        border-radius: 54px;
    }
    .animation-block {
        margin-bottom: 30px;
    }
    .horizontal-strip__red {
        height: 35px;
        background-color: #921813;
    }
    .horizontal-strip {
        height: 35px;
    }
    .horizontal-strip__anim {
        gap: 10px;
        height: 35px;
    }
    .anim {
        font-size: 20px;
    }
    .red-dot {
        width: 10px;
        height: 10px;
    }
    .clouds {
        grid-auto-rows: 130px;
        margin-bottom: 70px;
    }
    .cloud-1 {
        width: 276px;
        height: 90px;
        & .clouds__plus {
            left: 7%;
            top: -15%;
        }
        & .clouds__text {
            max-width: 192px;
            right: 0;
        }
    }
    .cloud-2 {
        width: 220px;
        height: 64px;
        & .clouds__plus {
            left: 7%;
            top: -20%;
        }
        & .clouds__text {
            max-width: 166px;
            top: 0;
            right: 0;
        }
    }
    .cloud-3 {
        width: 230px;
        height: 95px;
        & .clouds__plus {
            left: 20%;
            top: -20%;
        }
        & .clouds__text {
            max-width: 160px;
            right: 10px;
            align-self: flex-end;
        }
    }
    .cloud-4 {
        width: 226px;
        height: 70px;
        & .clouds__plus {
            left: 5%;
            top: -15%;
        }
        & .clouds__text {
            max-width: 152px;
            right: 0;
            top: 0;
        }
    }
    .clouds__plus {
        padding: 11px 11px;
        left: 20%;
        top: -10%;
        box-shadow: 0 0 40px 4px rgba(192, 32, 26, 0.89);
        & img {
            width: 10px;
            height: 10px;
        }
    }
    .clouds__text {
        font-size: 18px;
    }
    .map {
        grid-template-columns: 1fr 1.3fr;
        column-gap: 35px;
        margin-bottom: 35px;        
    }
    .map__yandex {
        & iframe {
            height: 300px;
        }
    }
    .map__place {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .map__text {
        font-size: 26px;
    }
    .map__address {
        width: 100%;
        border-radius: 20px;
        gap: 6px;
        padding: 17px 34px 21px 66px;
    }
    .address__city {
        font-size: 28px;
        & img {
            top: 70%;
            width: 21px;
            height: 21px;
        }
    }
    .address__place {
        font-size: 16px;
    }
    .socials {
        column-gap: 70px;
        row-gap: 20px;
        margin-bottom: 54px;
    }
    .socials__item {
        gap: 15px;
        & img {
            width: 42px;
            height: 42px;
        }
    }
    .socials__info {
        gap: 5px;
    }
    .socials__text {
        font-size: 15px;
    }
    .socials__href {
        font-size: 15px;
        text-underline-offset: 1px;
    }
    .request {
        padding: 40px 15px 39px 26px;
        margin-bottom: 45px;
        border: 1px solid #fff;
        border-radius: 20px;
    }
    .request__title {
        font-size: 28px;
        margin-bottom: 17px;
    }
    .request__text {
        width: 100%;
        font-size: 14px;
        margin-bottom: 36px;
    }
    .request__form {
        margin-bottom: 19px;
        flex-direction: column;
        & label {
            gap: 8px;
            font-size: 14px;
            &:first-child {
                margin-right: 0px;
                margin-bottom: 11px;
            }
            & input {
                max-width: none;
                border: 1px solid #a8a8a8;
                border-radius: 10px;
                padding: 12px 16px;
                font-size: 12px;
            }
            &:last-of-type {
                margin-right: 0;
                margin-bottom: 27px;
            }
        }
        & button {
            align-self: start;
            border-radius: 10px;
            padding: 15px 50px;
            font-size: 12px;
        }
    }
    .request__politics {
        font-size: 10px;
        & a {
            text-underline-offset: 1px;
        }
    }
    .footer__items {
        flex-direction: column;
        padding-top: 24px;
        margin-bottom: 82px;
    }
    .footer__logo {
        max-width: 180px;
        margin-right: 0;
        margin-bottom: 35px;
    }
    .footer__menu {
        margin-right: 0;
        margin-bottom: 42px;
    }
    .footer__contacts {
        margin-right: 0;
        margin-bottom: 56px;
    }
    .footer__socials {
        gap: 20px;
    }
    .footer__socials-phone {
        font-size: 18px;
        text-decoration-thickness: 2px;
        text-underline-offset: 1px;
    }
    .footer__socials-icons {
        gap: 6px;
    }
    .footer__copyrights {
        max-width: 75%;
        font-size: 14px;
        padding-bottom: 29px;
    }
    .ellipse:nth-child(1) {
        width: 588px;
        height: 1062px;
        top: -100px;
        left: 100px;
        background: radial-gradient(
            circle at center,
            rgba(146, 24, 19, 0.3),
            rgba(146, 24, 19, 0) 70%
        );
    }
    .ellipse:nth-child(2) {
        width: 599px;
        height: 599px;
        top: 1000px;
        left: 100px;
        background: radial-gradient(
            circle at center,
            rgba(146, 24, 19, 0.3),
            rgba(146, 24, 19, 0) 70%
        );
    }
    .ellipse:nth-child(3) {
        width: 599px;
        height: 599px;
        top: 1650px;
        left: -200px;
        background: radial-gradient(
            circle at center,
            rgba(146, 24, 19, 0.3),
            rgba(146, 24, 19, 0) 70%
        );
    }
    .ellipse:nth-child(4) {
        width: 599px;
        height: 599px;
        top: 2690px;
        left: 100px;
        background: radial-gradient(
            circle at center,
            rgba(146, 24, 19, 0.3),
            rgba(146, 24, 19, 0) 70%
        );
    }
    .ellipse:nth-child(5) {
        width: 599px;
        height: 599px;
        top: 3140px;
        left: -200px;
        background: radial-gradient(
            circle at center,
            rgba(146, 24, 19, 0.3),
            rgba(146, 24, 19, 0) 70%
        );
    }
    .ellipse:nth-child(6) {
        width: 671px;
        height: 885px;
        top: 4000px;
        left: -200px;
        background: radial-gradient(
            circle at center,
            rgba(146, 24, 19, 0.3),
            rgba(146, 24, 19, 0) 70%
        );
    }
    .ellipse:nth-child(7) {
        width: 671px;
        height: 885px;
        top: 5100px;
        left: -100px;
        background: radial-gradient(
            circle at center,
            rgba(146, 24, 19, 0.3),
            rgba(146, 24, 19, 0) 70%
        );
    }
    .ellipse:nth-child(8) {
        width: 671px;
        height: 885px;
        top: 6700px;
        left: 0;
        background: radial-gradient(
            circle at center,
            rgba(146, 24, 19, 0.3),
            rgba(146, 24, 19, 0) 70%
        );
    }
    .mobile-ellipse {
        display: block;
    }
}

@media (max-width: 768px) {
    .header__title {
        height: 450px;
    }
    .advantages {
        flex-direction: column;
        padding: 41px 10px;
    }
}

@media (max-width: 600px) {
    .header__title {
        height: 400px;
        padding: 0 12px 17px 12px;
        font-size: 48px;
    }
    .header__text {
        font-size: 18px;
        padding: 0 12px 0 12px;
    }
    .header__partner {
        padding: 0 12px 0 12px;
        gap: 33px;
        row-gap: 10px;
        & img {
            max-height: 28px;
        }
    }
    .content__header {
        font-size: 26px;
        margin-bottom: 20px;
    }
    .quote {
        font-size: 16px;
    }
    .grid {
        grid-template-columns: 1fr;
    }
    .clouds {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        gap: 20px;
    }
    .cloud-1 {
        order: 1;
        justify-self: flex-start;
    }
    .cloud-2 {
        order: 3;
        justify-self: flex-start;
        top: -20px;
    }
    .cloud-3 {
        order: 4;
        justify-self: flex-end;
        transform: rotate(-12deg);
    }
    .cloud-4 {
        order: 2;
        justify-self: flex-end;
    }
    .map {
        grid-template-columns: 1fr;
        align-items: flex-start;
        row-gap: 35px;
    }
    .map__yandex {
        & iframe {
            height: 100%;
        }
    }
    .map__address {
        width: 100%;
        & br:last-of-type {
            display: none;
        }
    }
    .address__place {
        font-size: 14px;
    }
    .map__yandex {
        border-radius: 20px;
        height: 244px;
    }
    .socials {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 425px) {
    .header__partner {
        justify-content: flex-start;
    }
    .quote {
        padding-top: 10px;
    }
}


.video-preview {
    position: relative;
    cursor: pointer;
    height: 100%;
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 4px;
        height: 100%;
        border-radius: 20px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
        z-index: 1;
    }
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 55%;
        transform: translate(-50%, -50%);
        border-style: solid;
        border-width: 15px 0 15px 25px;
        border-color: transparent transparent transparent #000;
    }
}

@media (max-width: 768px) {
    .play-button {
        width: 50px;
        height: 50px;
        &::after {
            border-width: 10px 0 10px 15px;
        }
    }
}