html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    background-color: #000;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    color: #FFF;
    font-size: 20px;
    line-height: 1.25;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.1s linear;
    &:hover {
        color: #921813;
    }
}

@font-face {
	font-family: 'DrukWideCyr-Medium';
	src: url('../fonts/drukwidecyr-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/drukwidecyr-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/drukwidecyr-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/drukwidecyr-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/drukwidecyr-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/drukwidecyr-medium.svg#drukwidecyr-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}

.container {
    max-width: 1534px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    position: relative;
    background-image: url(../images/header-bg.jpg);
    background-image: image-set(
        '../images/header-bg.avif' type('image/avif'),
        '../images/header-bg.webp' type('image/webp'),
        '../images/header-bg.jpg' type('image/jpeg')
    );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    & .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        position: relative;
        z-index: 2;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.5);
        z-index: 1;
    }
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 22px 0;
}

.menu__list {
    font-size: 18px;
    line-height: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 96px;
}

.cost {
    font-size: 18px;
    line-height: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.cost__btn {
    padding: 20px 40px;
    background-color: #921813;
    border-radius: 20px;
    transition: 0.2s linear;
    &:hover {
        background-color: #FFF;
        color: #921813;
    }
}

.cost__phone {
    display: flex;
    padding: 15px;
    background-color: #232323;
    border-radius: 20px;
    transition: background-color 0.2s linear;
    &:hover {
        background-color: #921813;
    }
}

.header__title {
    font-family: 'DrukWideCyr-Medium';
    font-size: 116px;
    font-weight: 400;
    line-height: 0.85;
    margin-bottom: 50px;
}

.header__text {
    font-size: 33px;
    line-height: 1.35;
    font-weight: 600;
    margin-bottom: 90px;
    & span {
        font-weight: 300;
    }
}

.header__partner {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 75px;
}

.content {
    padding-top: 80px;
    margin-bottom: 94px;
}

.content__element:not(:last-child) {
    margin-bottom: 50px;
}

.content__header {
    font-family: 'DrukWideCyr-Medium';
    font-weight: 500;
    font-size: 75px;
    line-height: 1;
    margin-bottom: 56px;
}

.content__about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}

.content__tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 21px;
}

.tag {
    padding: 20px 40px;
    border: 1px solid #fff;
    border-radius: 54px;
    font-weight: 500;
    font-size: 26px;
    line-height: 1;
}

.quote {
    font-weight: 500;
    font-size: 26px;
    line-height: 100%;
    color: #5a5a5a;
    padding: auto 0 auto 28px;
}

.content__arrows {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 27px;
}

.arrow {
    display: flex;
    cursor: pointer;
    padding: 15px 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(16.700000762939453px);
    transition: background-color, border 0.2s linear;
    &:hover {
        border: 1px solid rgba(255, 255, 255, 0.7);
        background-color: rgba(255, 255, 255, 0.18);
    }
}

.videos {
    overflow: visible;
}

.videos__item {
    max-width: 887px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    & img {
        max-width: 100%;
        border-radius: 20px;
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
        z-index: 1;
    }
}

.videos__item-text {
    position: absolute;
    max-width: 500px;
    left: 44px;
    bottom: 27px;
    font-family: 'DrukWideCyr-Medium';
    font-weight: 500;
    font-size: 45px;
    line-height: 100%;
    color: #fff;
    z-index: 2;
}

.videos-v {
    overflow: visible;
    & .videos__item {
        max-width: 480px;
        &::after {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
        }
    }
    & .videos__item-text {
        max-width: 380px;
        left: 30px;
        bottom: 29px;
    }
}

.advantages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 84px 125px;
    width: 100%;
    border-radius: 47px;
    box-shadow: 0 4px 61px 0 rgba(255, 255, 255, 0.35);
    background: #fff;
    margin-bottom: 85px;
}

.advantages__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.advantages__number {
    font-family: 'DrukWideCyr-Medium';
    font-weight: 500;
    font-size: 77px;
    line-height: 100%;
    text-align: center;
    color: #0a0a0a;
}

.advantages__text {
    font-weight: 500;
    font-size: 25px;
    line-height: 100%;
    text-align: center;
    color: #797979;
}

.about-us {
    position: relative;
    max-width: 100%;
    margin-bottom: 146px;
}

.about-us__big {
    white-space: nowrap;
    text-align: center;
    font-family: 'DrukWideCyr-Medium';
    font-weight: 500;
    font-size: 323px;
    line-height: 100%;
    text-transform: uppercase;
    color: #232323;
}

.about-us__worker {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
}

.worker__bio {
    position: relative;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 29px;
    top: -34px;
    right: -58px;
    z-index: 1;
}

.worker__fio {
    text-align: center;
    font-family: 'DrukWideCyr-Medium';
    font-weight: 500;
    font-size: 34px;
    line-height: 100%;
    color: #fff;
}

.worker__words {
    position: relative;
    padding: 32px 38px 41px 46px;
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
    color: #fff;
    border: 2px solid #646464;
    border-radius: 33px;
    max-width: 490px;
    backdrop-filter: blur(32.099998474121094px);
    background: rgba(21, 21, 21, 0.04);
}

.worker__photo {
    position: relative;
    overflow: hidden;
    border-radius: 40px;
    top: -83px;
    left: -34px;
    & img {
        max-width: 100%;
        border-radius: 40px;
    }
}

.worker__status {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 300px;
    font-family: 'DrukWideCyr-Medium';
    font-weight: 500;
    font-size: 49px;
    line-height: 100%;
    text-align: center;
    color: #fff;
}

.worker__text {
    position: relative;
    top: 18px;
    max-width: 448px;
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
    color: #b5b5b5;
}

.steps {
    margin-bottom: 170px;
}

.steps__title {
    font-family: 'DrukWideCyr-Medium';
    font-weight: 500;
    font-size: 104px;
    line-height: 100%;
    color: #fff;
    margin-bottom: 90px;
    & span {
        color: #921813;
    }
}

.steps__group {
    display: flex;
    flex-direction: row;
    gap: 150px;
    & .step {
        display: flex;
        flex-direction: column;
        gap: 15px;
        & .step__text {
            max-width: 390px;
            font-weight: 500;
            font-size: 33px;
            line-height: 100%;
            color: #757575;
        }
    }
}

.projects {
    margin-bottom: 130px;
}

.projects__title {
    font-family: 'DrukWideCyr-Medium';
    font-weight: 500;
    font-size: 95px;
    line-height: 100%;
    color: #fff;
    margin-bottom: 96px;
    & span {
        color: #921813;
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 580px;
    column-gap: 36px;
    row-gap: 33px;
}

.grid__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    border: 2px solid #fff;
    border-radius: 36px;
    padding: 66px 54px 54px 54px;
}

.grid__item-top {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.grid__item-header {
    font-family: 'DrukWideCyr-Medium';
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    color: #fff;
}

.grid__item-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
    color: #fff;
}

.grid__item-btn {
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
    color: #fff;
    padding: 25px 60px;
    background: #921813;
    border-radius: 54px;
    transition: 0.2s linear;
    width: fit-content;
    &:hover {
        background-color: #FFF;
        color: #921813;
    }
}

.animation-block {
    position: relative;
}

.horizontal-strip__red {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 100vw;
    height: 120px;
    background-color: #921813;
}

@keyframes ticker {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.horizontal-strip {
    width: 100vw;
    height: 120px;
    overflow-x: hidden;
    transform: rotate(-3deg);
}

.horizontal-strip__anim {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    width: fit-content;
    animation: ticker 15s linear infinite;
    -webkit-transform-style: preserve-3d;
    height: 120px;
    background-color: #FFF;
}

.anim {
    font-family: 'DrukWideCyr-Medium';
    font-weight: 500;
    font-size: 69px;
    line-height: 100%;
    color: #000;
    white-space: nowrap;
    -webkit-backface-visibility: hidden;
}

.red-dot {
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    background: #921813;
}